@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    /* COLORES BASE */
    --color-primary-900: #360C72;
    --color-primary-800: #652BDF;
    --color-primary-700: #952AF1;
    --color-primary-600: #E4D7FF;
    --color-primary-500: #F0EAFC;
    --color-primary-400: #FCFBFF;

    --font-primary: "Inter", Arial, Helvetica, sans-serif;
    /* COLORES NEUTRALES */
    --color-neutral-700: #000000;
    --color-neutral-600: #2b2b2b;
    --color-neutral-500: #6a6a6a;
    --color-neutral-400: #BEBEBE;
    --color-neutral-300: #e7eaed;
    --color-neutral-100: #FFFFFF;

    /* ALTURA HEADER */
    --height-header: 83px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    background-color: var(--color-primary-400);
    color: var(--color-neutral-600);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

/* ------Contenedor del ancho de la pagina--------- */
.content-container {
    max-width: 1022px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    line-height: 2.625rem;
    font-weight: 700;
    letter-spacing: -.045em;
}

h2 {
    letter-spacing: -.045em;
    font-weight: 600;
}

p {
    line-height: 1.5;
    color: var(--color-neutral-500);
    font-weight: 400;
}

h3 {
    font-weight: 400;
    line-height: 1.375rem;
    font-size: 18px;
}

/* ----------HEADER------------ */
.header {
    background-color: var(--color-neutral-100);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-header);
    border-bottom: 1px solid var(--color-neutral-300);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.header_layout {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    height: 82px;
}

.header__logo-container {
    max-width: 140px;
    max-height: 37px;
    margin: 0 20px 0 0;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.header__nav-item {
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
    padding: 6px 24px;
    min-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    white-space: nowrap;

}

.divider {
    width: 1px;
    height: 24px;
    background-color: var(--color-neutral-400);
}

.header__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    justify-content: center;
    gap: 2px;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: 700;
    padding: 10px 32px;
        
}

.header .btn-medium {
    padding: 6px 24px 6px 24px;
    line-height: 1.5rem;
    letter-spacing: .02857em;
    min-width: 160px;
    
}

.btn-medium {

    min-height: 41px;
    font-size: 14px;
    margin: 0 4px;
    
}

.btn-secondary {
    border: 1px solid var(--color-primary-800);
    background-color: var(--color-neutral-100);
    color: var(--color-primary-800);
}

.btn-primary {
    background-color: var(--color-primary-800);
    color: var(--color-neutral-100);
    border: 1px solid var(--color-primary-800);
}

/* ----------HOVER HEADER--------- */
.header__nav-item:hover {
    background-color: var(--color-primary-600);
    cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: var(--color-primary-600);
    color: var(--color-primary-900);
    
}

/* --------FEATURES SECTION---------------- */
.page {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.features__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__title {
    margin: 8px 0 8px 0;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 0.2px currentColor;
}

.features__cards-layout {
    display: flex;
    gap: 16px;
    padding: 32px 14px;
}

.features__cards {
    border-radius: 16px;
    background-color: var(--color-neutral-100);
    min-height: 184px;
    margin-top: 12px;
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    max-width: 317px;
    transition: transform 0.6s;
}

.features__card-icon  {
    border-radius: 8px;
    background-color: var(--color-primary-500);
    width: 62px;
    height: 62px;
    padding: 19px;
    color: var(--color-primary-800);
    font-weight: 400;
    font-size: 24px;
}

.features__card-title {
    max-width: 262px;
    /*  max-height: 52px;*/
    font-size: 24px;
    width: 100%;
    min-height: 28px;
    line-height: 1.625rem;
}

.features__card-subtitle {
    font-size: 18px;
    max-width: 269px;
    width: 100%;
}

.stories__banner {
    min-height: 134px;
    background-color: var(--color-primary-900);
    border-radius: 32px;
    width: 100%;
    margin: 0 auto;
}

.stories__layout {
    display: flex;
    flex-direction: row;
    width: calc(100% - 48px);
    padding: 32px 40px;
    gap: 32px;
    margin: 0 auto;
    align-items: center;
}

.stories__banner-text {
    color: var(--color-neutral-100);
    text-align: start;
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stories__banner-title {
    line-height: 2rem;
    font-size: 30px;
    font-weight: 600;
}

.stories__banner-text-heart-icon {
    color: var(--color-primary-700);
}

.btn-large {
    padding: 10px 32px;
    font-size: 16px;
    min-height: 43px;
    min-width: 192px;
    line-height: 1.5rem;
}

/*------- HOVER FEATURES--------  */

.btn-secondary.hover-strong:hover {
    background-color: var(--color-neutral-700);
    color: var(--color-primary-600);
    border: 1px solid var(--color-neutral-700);
}
.features__cards:hover .features__card-icon 
{
    color: var(--color-primary-900);
}
  .features__cards:hover
{
    transform: translateY(-6px); 
}

/* --------SECTION PAYMENT OPTIONS--------- */
.payment-options__layout
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 14px;
}
.payment-options--title
{
    margin: 8px 0 24px 0;
}
.payment-options--subtitle
{
    margin-bottom: 36px;
    font-size: 16px;
}
.payment-options-card
{
    
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    background-color: var(--color-neutral-100);
    margin-bottom: 48px;
    /* oculta lo que se sale del contenedor */
    overflow: hidden;
}
.payment-options-text-action
{
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}
.payment-options-card-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-width: 50%;
}
.payment-options-card-title
{
    font-size: 30px;
    line-height: 2rem;
    margin-bottom: 24px;
}
.payment-options-card-subtitle
{
    font-size: 18px;
    -webkit-text-size-adjust: 100%;
}
.payment-options--image
{
    max-width: 511px;
    max-height: 350px;
    transition: transform .4s ease;
    transform-origin: 50% 50%;
}
.payment-options-text-action .btn-medium
{
    min-height: 46px;
}
/* ----HOVER SECTION PAYMENT OPTIONS */
.btn-primary.hover-strong:hover {
    background-color: var(--color-primary-900);
    color: var(--color-neutral-100);
}

.payment-options--image:hover
{
    transform: scale(1.05);
}

/* ----FOOTER---- */
.footer
{
    background-color: var(--color-neutral-100);
    width: 100%;
}
.footer__layout
{
    display: flex;
    flex-direction: column;
    max-width: 1022px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 0;
}
.footer__logo
{
    height: 44px;
    width: 46px;
}
.footer__nav
{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
.footer__group
{
    flex: 1;
    margin-right: 24px;
}
.footer__group-title
{
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 700;
}
.footer__nav-item
{
    margin: 8px 0; 
}
.footer__nav-list a
{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
}
/* ----HOVER FOOTER---- */
.footer__nav-list a:hover 
{
    text-decoration: underline;
    color: var(--color-primary-800);
}